<div class="discover__card col-12 {{#if large}} col-xl-8 {{else}} col-xl-4 {{/if}}">
    <img class="discover__card__image" src="https://picsum.photos/300/310?{{cardN}}">
    <h2 class="discover__card__text">{{image__text}}</h2>
</div>