<div class="container discover">
  <h1 class="discover__title">
    Discover holiday activity ideas
  </h1>
  <div class="row">
    {{> discover-card
    cardN = "1"
    image__text = "Sports and Activis"
    }}
    {{> discover-card
    cardN = "2"
    image__text = "Wellness and Health"
    }}
    {{> discover-card
    cardN = "3"
    image__text = "Extreme sports and Expeditions"
    }}
    {{> discover-card
    cardN = "4"
    image__text = "Games"
    }}
    {{> discover-card
    cardN = "5"
    image__text = "Culture and Education"
    large = true
    }}
    {{> discover-card
    cardN = "6"
    image__text = "Enjomet and Relaxation"
    large = true
    }}
    {{> discover-card
    cardN = "7"
    image__text = "Travelling"
    }}
  </div>
</div>