<div class="activities">
    <h1 class="activities__title">Create your holiday activity</h1>
    <h2 class="activities__subtitle">Hi! What are your holiday interests?</h2>
    <div class="container activities__form">
        <div class="row">
            <div class="col-12 col-md-5 offset-md-2 col-lg-4 offset-lg-3">
                <input type="text" class="activities__form__input" placeholder="Enter your interests">
            </div>
            <div class="col-12 col-md-4 activities__form__button">
                {{> ../button/button
                btn-label = "Search partners"
                orange = true
                }}
            </div>
        </div>
    </div>
</div>