 <div class="dreamshare">
            <h1 class="dreamshare__title">How Dreamshare</h1>
            <div class="container">
                <div class="row">
                    <div class="dreamshare__card col-12 col-md-4">
                        <img class="dreamshare__card__image" src="https://picsum.photos/300/400?1">
                        <div class="dreamshare__block col-10 offset-1">
                            <div class="dreamshare__block__button">
                                {{> ../button/button
                                btn-label = "Step 1"
                                orange = true
                                small = true
                                }}
                            </div>
                            <!--  Button -->
                            <h2 class="dreamshare__block__title">Sed leo enim, condimentum</h2>
                            <p class="dreamshare__block__subtitle">Quisque libero libero, dictum non turpis in, luctus semper Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora labor.</p>
                        </div>
                    </div>
                    <div class="dreamshare__card col-12 col-md-4">
                        <img class="dreamshare__card__image" src="https://picsum.photos/300/400?2">
                        <div class="dreamshare__block col-10 offset-1">
                            <div class="dreamshare__block__button">
                                {{> ../button/button
                                btn-label = "Step 2"
                                orange = true
                                small = true
                                }}
                            </div>
                            <!--  Button -->
                            <h2 class="dreamshare__block__title">Morbi velit risus</h2>
                            <p class="dreamshare__block__subtitle">Nulla venenatis tempor dui in molestie. Nulla quis dictum puris, sit amet porttitor est.</p>
                        </div>
                    </div>
                    <div class="dreamshare__card col-12 col-md-4">
                        <img class="dreamshare__card__image" src="https://picsum.photos/300/400?3">
                        <div class="dreamshare__block col-10 offset-1">
                            <div class="dreamshare__block__button">
                                {{> ../button/button
                                btn-label = "Step 3"
                                orange = true
                                small = true
                                }}
                            </div>
                            <!--  Button -->
                            <h2 class="dreamshare__block__title">Sed leo enim, condimentum</h2>
                            <p class="dreamshare__block__subtitle">Quisque libero libero, dictum non turpis in, luctus semper Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora labor.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>