<div class="header">
    <img class="header__image" src="https://picsum.photos/1440/700">
    <div class="header__content container">
        <div class="row">
            <div class="col-6 offset-3">
                <h2 class="header__title">DREAMSHARE</h2>
            </div>
        </div>
        <div class="header__block row">
            <div class="col-10 offset-1 col-xl-6 offset-xl-3">
                <div class="block__title">
                    <h1 class="block__title__text">SHARE YOUR HOLIDAY DREAM</h1>
                </div>
                <div class="block__subtitle">
                    <h3 class="block__subtitle__text">And find the perfect partner to fullfill it</h3>
                </div>
            </div>
            <div class="col-12">
                {{> ../button/button
                btn-label = "Find your holiday partner"
                orange = true
                }}
            </div>
        </div>
    </div>
</div>