<div class="d-flex flex-nowrap align-items-center justify-content-center justify-content-lg-around nav">
        <div class="d-none d-lg-block">
            <h3 class="nav__logo">DREAMSHARE</h3>
        </div>
        <div class="nav__buttons">
            <span class="nav__button">
                {{> ../button/button
                btn-label = "Log in"
                }}
            </span>
            <span class="nav__button">
                {{> ../button/button
                btn-label = "Sign in"
                active = true
                }}
            </span>
        </div>
</div>


